name: Release

on:
  push:
    tags: ["v*.*.*"]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          target: wasm32-wasi

      - name: Build
        run: cargo build --release

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ github.ref }}
          tag_name: ${{ github.ref }}
          files: |
            target/wasm32-wasi/release/room.wasm
